 
body {
    margin:0;
    font-family: Arial, sans-serif;
    font-size:  0.9em;
}

a {
    margin: 10px;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

header > nav {
    display: flex;
    justify-content: flex-end;
}

#header-nav {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
       

}
.header-img {
    border-radius: 50%;
    height: 30px;
    
}

header > ul > a, ul > img {
    padding: 0 10px;
    

}

.header-img:hover {
    
    cursor:pointer;
}


section {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 5em;

}

.google-img{
    margin:50px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    width: 45em;
    height: 3.5em;
    border: 1px solid lightgray;
    border-radius: 45px;
    


}

.search-bar:hover {
    box-shadow: 0 0 10px 0px lightgray;
}
.search-bar > img {
    height: 2em;
    margin: 12px 15px;

}
.search-bar > input {
    flex-grow: 1;
    border: 0;
    outline: 0;
    font-size: 16px;

}

.buttons {
    padding: 50px;


}

button {
    margin: 0 15px;
    border-radius: 6px;
    outline: 0;
    border: 0;
    height: 40px;
    padding: 0 15px;
    background-color: rgba(233, 233, 233, 0.562);
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 2px lightgray;
}
img:hover {
    cursor: pointer;
}

footer {
    background-color: #f2f2f2;;
    position:fixed;
    width: 100%;
    bottom:0;
    height: 2.5em;
}

footer nav{
    display: flex;
    justify-content: space-between
}

#footer-left {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items:center;
    margin:0px;
}

#footer-right {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    margin: 0px;
}




@media (max-width: 630px) {
    #footer-nav {
        flex-direction:column;
    }

    #footer-left {
        justify-content: center;
    }
    #footer-right {
        justify-content: center;
    }

    .buttons {
        width: 65vw;
        align-content: center;
    }
}

@media (max-height:520px) {
    body {
        overflow-x:hidden;
    }
    section {
        margin-bottom: 20px;

    }

    footer {
        position:relative
    }
}

@media (max-height: 550px) and (max-width:630px) {
    body {
        overflow-x:hidden;
    }
    section {
        margin-bottom: 10px;
    }
    footer {
        position:relative;
    }
}